{% extends "base.html" %}

{% block title %}Template Filler{% endblock %}

{% block content %}

<form>
    <div class="textarea-grid-wrapper">
            <div class="textarea-grid-container">
                <h2><label for="yaml-input">YAML</label></h2>
                <textarea class="textarea-input-field" id="yaml-input" name="yaml-input" rows="15" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
                <br>
            </div>

            <div class="textarea-grid-container">
                <h2><label for="jinja-template">Template</label></h2>
                <textarea class="textarea-input-field" id="jinja-template" name="jinja-template" rows="15" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
                <br>
            </div>
    </div>
    
    <input type="submit" value="Submit">
</form>
<p>Click the "Submit" button and the form-data will be sent to a page on the 
server called "action_page.php".</p>
test

{% endblock %}