.placeholder{
    color: rgb(21, 32, 43);
    color: rgb(44, 44, 44);
    color: rgb(33, 50, 68);
    color: rgb(82, 121, 111);

}


body{
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: "Montserrat", sans-serif;
    }

.code-editor{
    background-color: rgb(21, 32, 43);
    border-radius: 5px;
    height: 400px
}

button{
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    background: rgb(82, 121, 111);
    font-family: "Montserrat", sans-serif;
    color: black;
    padding: 4px 6px;
}

button:hover {
    background: #FFD401;
    color: black;
    transition: all 0.2s ease-in-out;
    right: 0;
   }
   


.textarea-input-field {
    width: 40vw;
    object-fit: contain;
}
.textarea-grid-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.textarea-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}

@media (max-width: 600px) {
.textarea-grid-container { 
    grid-template-columns: repeat(1, 1fr); 
}
.textarea-input-field {
    width: 80vw;
}
}
