body{
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }
    
textarea{
    background-color: rgb(21, 32, 43);
    border: 5px,solid, rgb(33, 50, 68);
    border-radius: 5px;
    color: white;
    padding: 15px;
    line-height: 140%;
}

.textarea-input-field {
    width: 40vw;
    object-fit: contain;
}
.textarea-grid-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.textarea-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}



@media (max-width: 600px) {
.textarea-grid-container { 
    grid-template-columns: repeat(1, 1fr); 
}
.textarea-input-field {
    width: 80vw;
}
}