
#### Switch: {{hostname}} MAC: {{mac}} ####
dhcp-host={{mac}},set:{{hostname}}
dhcp-option=set:{{hostname}},vendor:{{vendor}} {{device_type}} {{device_series}},144,{{hostname}}-{{mac_without_colon}}.cfg
